//Default police
$font-family-sans-serif: 'Fira Sans Condensed', sans-serif;
//Colors palettes

$primary: #F3E8F0 !default;
$secondary: #8F5AFE !default;
$info: #DF861D !default;
$card-bg: #584F4F;
$light: #584F4F !default;

$link-decoration: none;


