@import "./variable_overrides"; 
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&display=swap');

.header {
  &__logo {
    height: 100px;
  }
  &__cart {
    position: relative;
    &::before {
      position: absolute;
      content: '1';
      top:0;
      bottom: 0;
      right: 0;
      background-color: $secondary;
      color: $white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      opacity: 0;
    }
  }
}

.underlineLink {
  text-decoration: underline;
}

.navbar-toggler-icon {
  display: block;
  height: 0.2em;
}